<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Kafka UI</title>
    <link href="/ui/css/app.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
    <script async src="/npm/es-module-shims/dist/es-module-shims.js"></script>
    <script type="importmap">
        {
          "imports": {
            "@popperjs/core": "/npm/@popperjs/core/dist/umd/popper.min.js",
            "bootstrap": "/npm/bootstrap/dist/js/bootstrap.esm.min.js",
            "axios": "/npm/axios/dist/esm/axios.min.js",
            "socket.io-client": "/npm/socket.io/client-dist/socket.io.esm.min.js"
          }
        }
    </script>
    <script type="module" src="/ui/js/app.js"></script>
</body>

</html>